.App {
  display: flex;
  flex-direction: row;
}
.container{
  height: 100vh;
  width: 50%;
  padding: 104px 100px;
  position: relative;
}
.steps{
  background-color: #58C7FF;
}
.light{
color:#fff !important;
}
.loader{
  opacity:0;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
  font-size: 2rem;
}
.map{
    background-image: url("./assets/img/map@2x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    position: absolute;
    bottom: 15%;
    z-index: -1;
    background-size: cover;
    height: 658px;
    left: 0;
}
.title{
  font-family: Slate W01 Bold,Helvetica,Arial,sans-serif!important;
  font-size: 76px;
  line-height: 80px;
  margin-bottom: 16px;
}
.next-btn{
  border-color: #fff;
  color: rgba(255,255,255,.75);
  background-color: transparent;
    padding: 12px 32px;
    font-size: 18px;
    font-family: Slate W01 Medium,Helvetica,Arial,sans-serif!important;
    line-height: 1!important;
    text-align: center;
    text-decoration: none;
    border: 2px solid currentColor;
    border-radius: 50px;
    cursor: pointer;
    transition: all .25s ease-in-out;
}
.next-btn:hover{
  color: #2eaff0;
    background-color: #fff;
    border-color: #fff;
}
.back-btn{
    border: none;
    color: transparent;
    outline: none;
    background: none;
    position: absolute;
    left: 40%;
    top: 5%;
}
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1.6;
  display: inline-block
}


input[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox
}
input[type=email], input[type=text], input[type=url], textarea {
  transition: all .25s ease-in-out;
  background-color: rgba(38,169,234,.5);
  color: #fff;
  border: none;
}

input[type=email], input[type=text], input[type=url], textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 20px;
  border: 2px solid transparent;
  font: inherit;
  line-height: 1.6;
  border-radius: 2px;
  transition: all .25s ease-in-out;
  background-image: url("./assets/input/placeholder@2x.png");
  background-size: 20px 20px;
  background-position: calc(100% - 20px) 22px;
  background-repeat: no-repeat;
}
input[type=email] {
  -webkit-appearance: none;
  appearance: none
}

input[type=radio] {
  -webkit-appearance: none;
  appearance: none
}

input[type=radio],input[type=checkbox] {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: rgba(103,114,229,0);
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: inset 0 0 0 2px #c1c4cb;
  margin: 0 12px 0 0;
  vertical-align: -4px;
  outline: none;
  transition: all .15s ease;
  cursor: pointer
}

input[type=radio]:hover,input[type=checkbox]:hover {
  outline: none;
  box-shadow: inset 0 0 0 3px #aeb2bb;
  transition: all .15s ease
}

input[type=radio]:checked,input[type=checkbox]:checked {
  background: url("./assets/input/checkmark.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #2daff0;
  box-shadow: none;
  transition: all .15s ease
}

input[type=radio].light,input[type=checkbox].light {
  box-shadow: inset 0 0 0 2px rgba(255,255,255,.5);
  background: none;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: all .15s ease
}

input[type=radio].light:hover,input[type=checkbox].light:hover {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(255,255,255,.75);
  transition: all .15s ease
}

input[type=radio].light:checked,input[type=checkbox].light:checked {
  background: url("./assets/input/checkmark.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  box-shadow: none;
  transition: all .15s ease
}
input[type=radio] {
  border-radius: 50%
}
input[type=email]:focus, input[type=text]:focus, textarea:focus {
  transition: all .25s ease-in-out;
  background-color: #26a9ea;
  border: none;
}
input[type=email].error, input[type=text].error, input[type=url].error, textarea.error {
  transition: all .25s ease-in-out;
  background: url("./assets//input/sad@2x.png");
  background-size: 20px 20px;
  background-position: calc(100% - 20px) 22px;
  background-repeat: no-repeat;
  background-color: rgba(225,57,93,.6);
}

.radio-list li{
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 0;
  cursor: pointer;
  overflow: hidden;
}

.left-half{
  max-width: calc(50% - 24px);
  width: 100%;
  margin-right: 48px;
}
.right-half{
  flex-grow: 1;
  margin-left: 24px;
}
.step-2 form{
  display: flex;
}
.step-2 .title{
  margin: 0;
  padding-bottom: 100px;
}
.mr-b-24{
  margin-bottom: 24px;
}
.mr-b-24{
  margin-bottom: 24px;
}
.pd-b-100{
  padding-bottom: 100px;
}
.form-control textarea{
  height: 328px;
}
.form-submit{
  text-align: end;
}
.social-icons{
  display: flex;
  margin-top: 16px;
}
.social-icons svg{
    margin-right: 20px;
}
.top{
  margin-bottom: 72px;
}
.top p{
  color: #686b77;
}
.light p{
  color: #fff;
}
.light h4{
  color: #fff;
}
a.white, .link.white {
  color: #fff;
}
a:hover, .link:hover {
  transition: all .25s ease-in-out;
}
a, .link {
  text-decoration: none;
  font-family: Slate W01 Medium,Helvetica,Arial,sans-serif!important;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.link-animation {
  padding: 0 2px;
  line-height: 1.6;
}
.link-animation span {
  display: block;
  position: relative;
  z-index: 2;
}
.link-animation:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  right: 0;
  transform: translate3d(0,0,0);
  transition: all .4s;
  transition-timing-function: cubic-bezier(.7,0,.3,1);
  border-radius: 2px;
}
.link-animation svg {
  margin-left: 8px;
}
.link-animation.white:hover {
  color: #fff;
}
.link-animation.white:after {
  background: rgba(255,255,255,.5);
}
.link-animation.white:hover:after {
  height: 100%;
  background: rgba(255,255,255,.25);
  border-radius: 4px;
}
a svg #twitter,a svg #instagram,a svg #medium {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out
}

a svg:hover #twitter {
  fill: #1da1f2;
  width: 44px;
  height: 38px
}
a svg:hover #instagram {
  fill: #5851db;
  width: 40px;
  height: 40px
}
a svg:hover #medium {
  fill: #02b875
}

